---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
  Astro.props.ogImage = new URL('/og.png', Astro.url);
}

const { title, description, ogImage } = Astro.props;
---

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='generator' content={Astro.generator} />

  <meta name='title' content={`Tecuán Tienda de hobbies| ${title}`} />
  <meta name='description' content={description} />

  <meta property='og:type' content='website' />
  <meta property='og:url' content={canonicalURL} />
  <meta property='og:title' content={title} />
  <meta property='og:description' content={description} />
  <meta property='og:image' content={ogImage} />

  <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:url' content={canonicalURL} />
  <meta property='twitter:title' content={title} />
  <meta property='twitter:description' content={description} />
  <meta property='twitter:image' content={ogImage} />

  <meta name="facebook-domain-verification" content="o5fawnzem3dukbyel2pyjrtal0tcqq" />

  <link rel='canonical' href={canonicalURL} />
  
  <link rel='icon' type='image/svg' href='/favicon.svg' />

  <title>Tecuán tienda de hobbies | {title}</title>

  <ViewTransitions />

  <slot />

  <!-- Meta Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '178391211909232');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=178391211909232&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
